/* style for visavail.js */

.visavail{
	position: relative;
}
.visavail-tooltip div.tooltip-top {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 11px;
    padding-left: 0;
    width: auto;
    border: 0;
   
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.visavail-tooltip div.tooltip-overlay {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 11px;
    width: 120px;
    border: 0;
    pointer-events: none;
    line-height: 16px;
    background: #f2f2f2;
	padding: 10px;
	border-radius: 4px;
}

.visavail-tooltip .tooltip_has_data {
    /* color of symbol in tooltip if there is data */
    color: #449d44;
}

.visavail-tooltip .tooltip_has_no_data {
    /* color of symbol in tooltip if there is no data */
    color: #c9302c;
}

.visavail .rect_has_data {
    /* blocks that have data */
    fill: #5cb85c;
}

.visavail .rect_has_data:hover {
    fill: #449d44
}

.visavail .rect_has_no_data {
    /* blocks without data */
    fill: #d9534d;
}

.visavail .rect_has_no_data:hover {
    fill: #c9302c;
}


.visavail .x_tick_emph {
    font-weight: bold;
}

.visavail .ytitle {
    /* y axis labels */
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	overflow: hidden;
}

.visavail .ytitle.link {
    /* y axis label with link */
    cursor: pointer;
    fill: #07C;
}

.visavail .xAxis path,
.visavail .xAxis line {
    display: none;
}

.visavail .xAxis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.visavail .vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.visavail .vert_grid_emph {
    fill: none;
    stroke: #dddddd;
    stroke-width: 2px;
}

.visavail .horz_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.visavail .heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.visavail .subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.visavail .legend {
    dominant-baseline: middle;
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}